---
import Layout from "../layouts/Layout.astro";
import Guitarra from "../components/Guitarra.astro";

const url = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=imagen`
const respuesta = await fetch(url)
const { data } = await respuesta.json()


---

<Layout
	title="Tienda Virtual"
	description="GuitarLA, ventas de guitarras y más"
>
	<main class="contenedor">
		<h1 class="heading">Nuestra Colección</h1>
		
		<div class="grid">
			{
				data?.map(guitarra => (
					// en astro no es necesario agregar un key cuando iteras
					<Guitarra 
						nombre={guitarra.attributes.nombre}
						descripcion={guitarra.attributes.descripcion}
						precio={guitarra.attributes.precio}
						url={guitarra.attributes.url}
						imagen={guitarra.attributes.imagen}
					/>
				))
			}
		</div>
	</main>
</Layout>

