---

// interfaz
export interface Props {
  nombre: string;
  descripcion: object;
  precio: number;
  url: string;
  imagen: object;
}

const { nombre, descripcion, precio, url, imagen } = Astro.props

---

<div class="guitarra">
  <img src={imagen["data"].attributes.formats.medium.url} alt={`Guitarra ${nombre}`}>

  <div class="contenido">
    <h3>{nombre}</h3>
    <p class="descripcion">{descripcion[0].children[0].text}</p>
    <p class="precio">${precio}</p>
    <a class="enlace" href=`/guitarras/${url}`>Ver Producto</a>
  </div>
</div>